# JMeter 
JMeter
jmeter.log
generated.yml

# File Folders
Uploads

# Report Folders
TestResults
HTML Reports

# Virtual Environment
env

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyd