# JMeter 
JMeter
jmeter.log
generated.yml

# File Folders
Uploads

# Report Folders
Test Result

#Generated Tests
generated_tests

# Virtual Environment
env

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyd

# Project Files
project_files